*
{
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    cursor: url("../media/icons/cursorVwhite.png"), auto;
}

body
{
    background: rgb(73, 87, 151);
    background: url(../media/images/KanQ1-Background.jpg);
    background-size: cover;
    object-fit: cover;
}

body::before
{
    content: "";
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(111, 33, 255, 0.5));
    z-index: -50;  
}

main 
{
    width: 100%;
    height: 75%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

}

main > section
{
    display: flex;
    align-items:center;

    justify-content: space-around;
    flex-direction: column;
}

.KanQTittle
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    width: 20svh;
    height: 20svh;
    text-shadow: 1px 1px 10px black;
    z-index: 15;
    font-size: 5rem;
    color: white;
    transform: translateY(100px);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.KanQSubTittle
{
    margin: 50px;
    z-index: 50;
    color: white;
    transform: translateY(50px);
}

.startButton
{
    background: antiquewhite;
    padding: 15px;
    margin: 50px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    width: 50%;
    color: rgb(73, 87, 151);
    font-weight: bold;
}

.startButton:hover
{
    cursor:pointer;
    opacity: .7;
    transition: .15s;
}

.adminSec
{
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    background: rgba(0, 0, 0, .25);
}

.adminSec > a
{
    background: rgb(88, 114, 230);
    padding: 5px 20px;
    margin: 2px 10px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.adminSec > a:hover
{
    cursor:pointer;
    opacity: .7;
    transition: .15s;
}

.adminSec > p
{
    margin: 2px 10px;
    color: white;
}

.paperOBJ
{
    z-index: 0;
    width: 115px;
    height: 115px;
    position: absolute;
    transform: rotate(-20deg) translate(-30px,-45px);

    filter: drop-shadow(1px 1px 3px black);
    animation: 6s ease-out 1s infinite alternate post-it_Jump;
    filter: hue-rotate(0);
}

.paperOBJ > .paperOBJ_1
{
    width: 115px;
    height: 115px;
    background: rgb(253, 129, 129);
    position: absolute;
    z-index: 3;
}

.paperOBJ > .paperOBJ_2
{
    width: 115px;
    height: 115px;
    background: wheat;
    position: absolute;
    transform: translate(3px,3px);
    z-index: 2;
}

.paperOBJ > .paperOBJ_3
{
    width: 115px;
    height: 25px;
    background: rgb(194, 89, 89);
    position: absolute;
    z-index: 4;
}

.pencil-img
{
    position: absolute;
    width: 150px;
    filter: drop-shadow(1px 1px 3px black);
    transform: rotate(-15deg) translate(100px,-20px);
    user-select: none;

}

footer
{
    width: 100%;
    position:fixed;


    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

    height: 45px;
    padding: 20px;
    text-align: center;

    color: white;
    bottom: 0;

    text-shadow: 2px 2px 6px black;
}

@keyframes post-it_Jump
{
    0%
    {
        transform: rotate(-20deg) translate(-30px,-45px);
        filter: hue-rotate(0);
    }
    /*5%
    {
        transform: rotate(-15deg) translate(-30px, -80px);
        filter: hue-rotate(0);
    }*/
    10%
    {
        transform: rotate(-10deg) translate(-30px, -85px);
        filter: hue-rotate(0);
    }
    15%
    {
        transform: rotate(-15deg) translate(-30px, -80px);
        filter: hue-rotate(0);
    }
    20%
    {
        transform: rotate(-20deg) translate(-30px,-45px);
        filter: hue-rotate(110deg);
    }
    /*      PRIMERA VUELTA          */
    25%
    {
        transform: rotate(-20deg) translate(-30px,-45px);
        filter: hue-rotate(110deg);
    }
    /*30%
    {
        transform: rotate(-15deg) translate(-30px, -80px);
        filter: hue-rotate(110deg);
    }*/
    25%
    {
        transform: rotate(-10deg) translate(-30px, -85px);
        filter: hue-rotate(110deg);
    }
    30%
    {
        transform: rotate(-15deg) translate(-30px, -80px);
        filter: hue-rotate(110deg);
    }
    35%
    {
        transform: rotate(-20deg) translate(-30px,-45px);
        filter: hue-rotate(220deg);
    }
    /*      SEGUNDA VUELTA          */
    45%
    {
        transform: rotate(-20deg) translate(-30px,-45px);
        filter: hue-rotate(220deg);
    }
    /*50%
    {
        transform: rotate(-15deg) translate(-30px, -80px);
        filter: hue-rotate(220deg);
    }*/
    55%
    {
        transform: rotate(-10deg) translate(-30px, -85px);
        filter: hue-rotate(220deg);
    }
    60%
    {
        transform: rotate(-15deg) translate(-30px, -80px);
        filter: hue-rotate(220deg);
    }
    65%
    {
        transform: rotate(-20deg) translate(-30px,-45px);
        filter: hue-rotate(290deg);
    }
    /*      TERCER VUELTA          */
    70%
    {
        transform: rotate(-20deg) translate(-30px,-45px);
        filter: hue-rotate(290deg);
    }
    /*75%
    {
        transform: rotate(-15deg) translate(-30px, -80px);
        filter: hue-rotate(290deg);
    }*/
    80%
    {
        transform: rotate(-10deg) translate(-30px, -85px);
        filter: hue-rotate(290deg);
    }
    85%
    {
        transform: rotate(-15deg) translate(-30px, -80px);
        filter: hue-rotate(290deg);
    }
    90%
    {
        transform: rotate(-20deg) translate(-30px,-45px);
        filter: hue-rotate(360deg);
    }
    100%
    {
        transform: rotate(-20deg) translate(-30px,-45px);
        filter: hue-rotate(360deg);
    }
}